/**
 * 下方引入的为uView UI的集成样式文件，为scss预处理器，其中包含了一些"u-"开头的自定义变量
 * uView自定义的css类名和scss变量，均以"u-"开头，不会造成冲突，请放心使用 
 */
@import 'uview-ui/theme.scss';

$l-color-white: #fff;
$l-bg-color-white: #fff;
$l-color-black: #000;
$l-bg-color-black: #000;

$u-fw-400: 400;
$u-fw-800: 800;
$u-fw-1000: 1000;
$u-fw-1200: 1200;

